.rise {
  color: #303030;
  font-size: 60px;
  border-radius: 100px;
  transform: scale(0);
  transition: transform 0.6s;
  pointer-events: none;
  z-index: 666;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.active-rise {
  transform: scale(1);
  pointer-events: auto;
}