.vertical-card {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-auto-rows: 170px auto;
  background: #f1f1f1;
  border-radius: 15px;
  overflow: hidden;
}

.vl-c-chassis {
  width: 100%;
  height: 100%;
  background: #666;
  border-radius: 15px;
  overflow: hidden;
}

.vl-c-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vl-c-data {
  display: grid;
  gap: 10px;
}

.vl-c-name {
  font-weight: 600;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
  overflow: hidden;
  text-overflow: ellipsis;
}

.vl-c-description {
  font-size: 14px;
  line-height: 1.5;
  max-height: calc(1.5em * 2);
  overflow: hidden;
  text-overflow: ellipsis;
}

.vl-c-expenses {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.vl-c-price {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.vl-c-define {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
}

.vl-c-define-icon {
  color: #fff;
  font-size: 20px;
  background: #222;
  border-radius: 100px;
}
