.app {
  height: 100%;
  display: grid;
  grid-auto-columns: 50vw 100vw;
  grid-auto-rows: 100% 100%;
  grid-auto-flow: column;
  transition: 0.6s;
  overflow: auto;
  position: fixed;
  top: 0;
  left: -50vw;
}

.app-translate {
  overflow: hidden;
  left: 0vw;
}