.sidebar {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-auto-rows: auto 1fr auto;
  align-items: center;
  background: #f0f0f0;
  position: fixed;
}

.sidebar-label {
  font-size: 20px;
  font-weight: 600;
  display: grid;
  justify-self: center;
}

.sidebar-repository {
  display: grid;
  gap: 30px;
  align-content: start;
}

.sidebar-path {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
}

.sidebar-path-icon {
  font-size: 25px;
}