.menu {
  display: grid;
  gap: 20px;
}

.menu-categories,
.menu-sub-categories {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  justify-content: start;
  border-radius: 100px;
  overflow: auto;
  white-space: nowrap;
}

.menu-sub-categories {
  padding: 10px 0px;
  background: #fff;
  border-radius: 0px;
  position: sticky;
  top: 0;
  left: 0;
}

.menu-category,
.menu-sub-category {
  padding: 10px 20px;
  background: #ececec;
  border-radius: 100px;
}

.active-menu-category,
.active-menu-sub-category {
  color: #fff;
  background: #303030;
}

.menu-views {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.menu-view-icon {
  font-size: 25px;
}

.horizontal-cards {
  display: grid;
  gap: 20px;
}

.vertical-cards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.menu-navigate-cart {
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  background: #303030;
  border-radius: 100px;
  transition: bottom 0.6s ease, opacity 0.3s ease;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  bottom: -100px;
  right: 20px;
}

.active-menu-navigate-cart {
  bottom: 20px;
  opacity: 1;
  pointer-events: auto;
}
